/* ==========================================================================
   Forms
   ========================================================================== */

form { }

input {
  -webkit-appearance: none;
  border: 0;
  font-family: Noto Sans, sans-serif;
  padding: 1em;

  &:focus {
    outline: none;
  }
}

/* Gravity Forms */

.gform_wrapper { }
.gform_heading { }
.gform_description { }
.gform_body { }
.gform_fields { }
.gfield { }
.ginput_container { }
.gform_footer { }
.gform_button { }


// SEARCH FORM 
  #search {
    
  }