/* ==========================================================================
   Menus
   ========================================================================== */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	height: 100vh;
	background-color: $news;
	color: $wh-lt;
	background-image: linear-gradient(to top, rgba(0,0,0,.2) 0%, transparent 75%, transparent 100%);
	margin-right: 2em;
	font-size: 20px;
	// position: fixed;

	// width: 100vw;
 //  position: fixed;
 //  top: 0;
 //  right: 0;
 //  bottom: 0;
 //  left: 0;
 //  z-index: 0;

	.masthead {
		// margin-bottom: 2em;
		padding: 1em;

		a {
			display: block;
			width: 101px;
			height: 31px;
			background-image: url(assets/images/icon-sun.svg);
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}

	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		font-style: italic;
		font-weight: 700;


		ul {
			// display: none;
			text-transform: none;
			margin-left: 1em;
			font-weight: 400;
			// height: 0;
						

			a {
				color: $bk-dk;
			}
			
			ul {
				left: 100%;
				top: 0;

				a {
					width: 200px;
				}
			}
			li {
				
			}
		}
	}

	li {
		// border: thin solid rebeccapurple;

		&:before {
			display: inline-block;
			background: $bk-dk;
			width: 2em;
			height: 2em;
			position: relative;
			left: -2em;
		}
		&:hover {
			& > a {

			}
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: $wh-lt;
		padding: .5em .5em .5em 1em;

		&:hover {
			background: $news-dk;
		}
	}

}

.main-navigation ul ul :hover > a {
}

.main-navigation ul ul a:hover {
}

.main-navigation ul li > ul {
	height: 0;
	overflow: hidden;
	
}

.main-navigation ul li:hover > ul {
	height: auto;
}

.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

#search {
	padding: 1em;
}