/* ==========================================================================
   Variables
   ========================================================================== */

// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Structure
$pageWidth: 1000px;



// Colors
  // VARIABLES

  $news:        #c00;
  $news-lt:     #f00;
  $news-dk:     #900;
  $news-tr:     rgba($news, .9);

  $sport:       #366;
  $sport-dk:    #033;
  $sport-tr:    rgba($sport, .9);

  $showbiz:     #939;
  $showbiz-dk:  #606;
  $showbiz-tr:  rgba($showbiz, .9);

  $feats:       #ab959a;
  $feats-dk:    #333;
  $feats-tr:    rgba($feats, .9);

  $fab:         #ec338e;
  $fab-dk:      #a21f61;
  $fab-tr:      rgba($fab, .9);

  $column:      #369;
  $column-dk:   #036;
  $column-tr:   rgba($column, .9);

  $extras:      #090;
  $extras-dk:   #060;
  $extras-tr:   rgba($extras, .9);

  $bk-dk:    #333;
  $bk-md:    #666;
  $bk-lt:    #999;
  $bk-tr-0:    rgba($bk-md, 0);
  $bk-tr-1:    rgba($bk-md, .1);
  $bk-tr-2:    rgba($bk-md, .2);
  $bk-tr-3:    rgba($bk-md, .3);
  $bk-tr-4:    rgba($bk-md, .4);
  $bk-tr-5:    rgba($bk-md, .5);
  $bk-tr-6:    rgba($bk-md, .6);
  $bk-tr-7:    rgba($bk-md, .7);
  $bk-tr-8:    rgba($bk-md, .8);
  $bk-tr-9:    rgba($bk-md, .9);
  $bk-tr-9:    rgba($bk-md, .9);

  $wh-dk:    #aaa;
  $wh-md:    #ddd;
  $wh-lt:    #fff;
  $wh-tr-0:    rgba($wh-md, 0);
  $wh-tr-1:    rgba($wh-md, .1);
  $wh-tr-2:    rgba($wh-md, .2);
  $wh-tr-3:    rgba($wh-md, .3);
  $wh-tr-4:    rgba($wh-md, .4);
  $wh-tr-5:    rgba($wh-md, .5);
  $wh-tr-6:    rgba($wh-md, .6);
  $wh-tr-7:    rgba($wh-md, .7);
  $wh-tr-8:    rgba($wh-md, .8);
  $wh-tr-9:    rgba($wh-md, .9);
  $wh-tr-9:    rgba($wh-md, .9);

  $beige:       #ece7d8;

  $fb:          #335795;
  $tw:          #4099ff;
  $go:          #d34836;

  $link:        $news-dk;
  $link-hover:  $news;
  $link-active: $news-tr;

  $sprite:      url(cssimg/sol-sprite.svg);


// Text Selection
  $selectionColor: $news;